.menu-btn {
    // say exactly where it want to be + on top (bring close to front with z index)
    position: absolute;
    z-index: 3;
    // from right 40 px
    padding: 40px 5px 0 0;
    right: 40;
    top: 40;
    // to get to left side
    left: 96%;
    // if hover display pointer
    cursor: pointer;
    @include ease-out;

    // this is for the 3 lines for rotating menu button
    .btn-line {
        // need to specify px
        width: 24px;
        height: 3px;
        // top 0, right 0, bottom 5px, left 0
        margin: 0 0 5px 0;
        background: #fff;
        @include ease-out;

    }
    // rotate into an X with menuLines
    // when has class of closed
    &.close {
        transform: rotate(180deg);
        // pin x to the right side
        position: absolute;
        top: 0px;
        right: 0px;

        .btn-line {
            // line 1 - rotate
            // select each line of btn-menu, 1 is for the first line
            &:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
            }
            // line 2 - hide
            &:nth-child(2) {
                // hide
                opacity: 0;
            }
            // line 3 - rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}

// Menu Overlay
.menu {
    // keep menu element fixed 
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.91;
    visibility: hidden;

    &.show {
        visibility: visible;
    }
    // same as .menu-brand, could also just do &.classname
    &-brand, 
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh; 
        // no scroll bar!
        overflow: hidden;
    }
    
    &-nav {
        margin: 0;
        padding: 0;
        background: darken($main-color, 6);
        list-style: none;
        // -100% comes from top
        transform: translate3d(0, -100%, 0);
        @include ease-out;

        &.show {
            // sliding in from top
            transform: translate3d(0, 0, 0);
        }
    }

    &-brand {
        background: $main-color;
        transform: translate3d(0, 100%, 0);
        @include ease-out;
        &.show {
            // sliding in from bottom since 100%
            transform: translate3d(0, 0, 0);
        } 

        .portrait { 
        width: 300px;
        height: 300px; 
        background: url('../img/myProfilePic4.jpg');
        border-radius: 50%;
        border: solid 3px $secondary-color;
        }
    }

    .nav-item {
        transform: translate3d(550px, 0, 0);
        @include ease-out;
        &.show {
            // sliding in from right
            transform: translate3d(0, 0, 0);
        }
        // to color the link
        &.current > a {
            color: $secondary-color;
        }
    }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        @include ease-out;

        &:hover {
            color: $secondary-color;
        }
    }
}

// delay of each nav item (4 of them) slide (0.1s)
// #{$x} like a string literal in js
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
transition-delay: $x * 0.1s;
    }
}